# Нахождение инвестиционных портфелей с минимальной и максимальной дисперсией доходности

##Выгружаем данные по исследуемым акциям в формате .csv

In [113]:
import pandas as pd
tcs = pd.read_csv("Прошлые данные - TCSGDR (2).csv")
tcs

           Дата      Цена     Откр.     Макс.      Мин.    Объём  Изм. %
0    24.10.2022  2.485,00  2.473,50  2.534,00  2.455,00  181,57K   1,06%
1    21.10.2022  2.459,00  2.513,00  2.513,00  2.374,50  749,89K  -1,76%
2    20.10.2022  2.503,00  2.619,00  2.647,00  2.466,50  671,12K  -4,06%
3    19.10.2022  2.609,00  2.601,00  2.635,00  2.530,50  300,45K  -0,61%
4    18.10.2022  2.625,00  2.710,00  2.759,00  2.600,50  399,11K  -2,85%
..          ...       ...       ...       ...       ...      ...     ...
195  14.12.2021  5.970,00  5.890,00  6.047,80  5.400,60  663,53K   0,85%
196  13.12.2021  5.919,80  6.330,00  6.444,80  5.870,00  730,86K  -6,19%
197  10.12.2021  6.310,20  6.360,00  6.392,00  6.113,20  432,56K  -0,19%
198  09.12.2021  6.322,40  6.212,00  6.523,00  6.020,00  671,40K   1,23%
199  08.12.2021  6.245,40  6.599,80  6.750,00  6.141,00  829,89K  -4,84%

[200 rows x 7 columns]

In [114]:
#Преобразуем данные о цене в список 
tcs_p = list(tcs['Цена'][:200])[::-1]

In [115]:
gazp = pd.read_csv("Прошлые данные - GAZP (1).csv")
gazp

           Дата    Цена   Откр.   Макс.    Мин.    Объём  Изм. %
0    24.10.2022  165,82  168,00  168,79  164,82   24,15M  -0,70%
1    21.10.2022  166,99  160,00  169,96  159,03   35,54M   3,88%
2    20.10.2022  160,75  161,69  162,48  160,15   14,36M  -0,33%
3    19.10.2022  161,29  159,10  161,50  157,40   23,66M   0,68%
4    18.10.2022  160,20  164,00  164,64  159,10   20,79M  -1,86%
..          ...     ...     ...     ...     ...      ...     ...
198  14.12.2021  319,35  307,00  320,00  289,78  168,69M   3,93%
199  13.12.2021  307,26  333,08  334,88  305,76  140,58M  -7,45%
200  10.12.2021  332,00  337,36  338,31  329,98   44,65M  -1,37%
201  09.12.2021  336,60  341,28  344,20  335,72   61,41M  -1,15%
202  08.12.2021  340,50  346,00  348,47  336,53   78,33M  -1,29%

[203 rows x 7 columns]

In [116]:
#Преобразуем данные о цене в список 
gazp_p = list(gazp['Цена'][:200])[::-1]

In [117]:
agr = pd.read_csv("Прошлые данные - AGRODR.csv")
agr

           Дата      Цена     Откр.     Макс.      Мин.    Объём  Изм. %
0    24.10.2022    816,40    807,40    822,40    805,00   73,20K   2,08%
1    21.10.2022    799,80    798,60    801,60    792,20   21,69K   0,15%
2    20.10.2022    798,60    801,00    805,60    795,20   15,78K   0,78%
3    19.10.2022    792,40    797,80    808,20    772,00   33,96K  -0,95%
4    18.10.2022    800,00    805,80    814,00    793,00   30,14K   0,00%
..          ...       ...       ...       ...       ...      ...     ...
195  14.12.2021  1.064,00  1.048,60  1.085,00  1.008,20  256,66K   1,47%
196  13.12.2021  1.048,60  1.108,60  1.114,60  1.037,20  203,04K  -4,03%
197  10.12.2021  1.092,60  1.120,80  1.128,80  1.092,40   91,12K  -3,10%
198  09.12.2021  1.127,60  1.117,00  1.137,00  1.117,00   40,05K   1,13%
199  08.12.2021  1.115,00  1.148,40  1.160,80  1.109,40   75,69K  -2,28%

[200 rows x 7 columns]

In [118]:
#Преобразуем данные о цене в список 
agr_p = list(agr['Цена'][:200])[::-1]

In [119]:
afk = pd.read_csv("Прошлые данные - AFKS.csv")
afk

           Дата   Цена  Откр.  Макс.   Мин.   Объём  Изм. %
0    27.10.2022  12,86  12,73  12,86  12,57   9,55M   1,67%
1    26.10.2022  12,65  12,43  12,88  12,35  50,36M   2,66%
2    25.10.2022  12,32  11,80  12,50  11,78  34,99M   4,08%
3    24.10.2022  11,84  11,93  12,08  11,66  20,84M  -0,10%
4    21.10.2022  11,85  11,55  11,92  11,46  14,96M   1,69%
..          ...    ...    ...    ...    ...     ...     ...
231  02.11.2021  27,61  27,59  28,00  27,37  32,76M   0,36%
232  01.11.2021  27,51  27,14  27,54  26,69  23,15M   1,58%
233  29.10.2021  27,08  27,41  27,58  26,94  22,91M  -1,44%
234  28.10.2021  27,48  27,80  28,17  26,85  47,59M  -1,33%
235  27.10.2021  27,85  28,00  28,24  27,80  22,85M  -0,72%

[236 rows x 7 columns]

In [120]:
#Преобразуем данные о цене в список 
afk_p = list(afk['Цена'][:200])[::-1]

##Проведение расчета выборочных средних, дисперсий и матрицы ковариации

In [121]:
p = [tcs_p, gazp_p, agr_p, afk_p]
n = len(p)
r = [[] for i in range(n)]
mu = [0 for i in range(n)]
d = [0 for i in range(n)]

In [122]:
for j in range(n):
  for i in range(len(p[j])):
    p[j][i] = float(p[j][i].replace('.', '').replace(',', '.'))
  # вычисление нетто-доходности
  for i in range(1, len(p[j])):
    r[j].append((p[j][i]/p[j][i-1]) - 1)
  # вычисляем выборочное средние
  mu[j] = sum(r[j])/len(r[j])
  # вычисляем дисперсии
  d[j] = sum([(r[j][i] - mu[j]) ** 2 for i in range(len(r[j]))])/len(r[j])

In [123]:
#Выводим выборочные средние и дисперсии каждого актива
print('mu:', mu)
print('d:', d)

mu: [-0.0030704113199396146, -0.0017380221809239747, -0.0008590625627233621, -0.0021564388748883394]
d: [0.0029646683279163674, 0.002544738446124584, 0.0014521046898677064, 0.0015149793888364438]

In [124]:
#Вычисляем ковариации
cov = [[0 for i in range(n)] for i in range(n)]
for j in range(n):
  for i in range(n):
    cov[j][i] = sum([(r[j][k] - mu[j])*(r[i][k] - mu[i]) for k in range(len(r[j]))])/len(r[j])

In [125]:
#Выводим матрицу ковариации
for i in range(n):
  print(cov[i])

[0.0029646683279163674, 0.0007160768552567892, 0.0010226229532336922, -0.0001730805479968109]
[0.0007160768552567892, 0.002544738446124584, 0.00039774059672175843, 8.80733785128697e-05]
[0.0010226229532336922, 0.00039774059672175843, 0.0014521046898677064, 8.363114289645438e-05]
[-0.0001730805479968109, 8.80733785128697e-05, 8.363114289645438e-05, 0.0015149793888364438]

##Переходим к задаче оптимизации с ограничениями в виде неравенств

In [126]:
from sympy import *
k = 10

X = list(symbols(' x1:'+str(n+1)))
LL = list(symbols('l0:'+str(n+2)))
XLL = X.copy()
XLL.extend(LL)

D = sum([sum([X[i]*X[j]*cov[i][j] for i in range(n)]) for j in range(n)])

q1 = sum([X[i] for i in range(n)]) - 1

Q = []
for i in range(0,n):
  Q.append(X[i]*LL[i+2])
L = 1*D+LL[1]*q1

for qi in Q:
  L = L - qi
Lx = []
for xi in X:
  Lx.append(L.diff(xi))

#Список уравнений итоговой системы
LxQ = Lx.copy()
LxQ.extend(Q)
LxQ.append(q1)

solutions=solve(LxQ)

In [127]:
#Выводим решения системы
for i in range(len(solutions)):
  print(solutions[i])

{l1: -0.00592933665583273, l2: 0.0, l3: -0.00449718294531915, l4: -0.00388409074936535, l5: -0.00627549775182635, x1: 1.00000000000000, x2: 0.0, x3: 0.0, x4: 0.0}
{l1: -0.00508947689224917, l2: -0.00365732318173559, l3: 0.0, l4: -0.00429399569880565, l5: -0.00491333013522343, x1: 0.0, x2: 1.00000000000000, x3: 0.0, x4: 0.0}
{l1: -0.00344915525323757, l2: 0.0, l3: 0.0, l4: -0.00209315041980408, l5: -0.00350726530944943, x1: 0.448503333586500, x2: 0.551496666413500, x3: 0.0, x4: 0.0}
{l1: -0.00302995877767289, l2: -0.00337611987366651, l3: -0.00285381202064715, l4: -0.00286269649187998, l5: 0.0, x1: 0.0, x2: 0.0, x3: 0.0, x4: 1.00000000000000}
{l1: -0.00290420937973541, l2: -0.000858963473268030, l3: -0.00210872818629189, l4: 0.0, l5: -0.00273694709394250, x1: 0.0, x2: 0.0, x3: 1.00000000000000, x4: 0.0}
{l1: -0.00274865175509602, l2: 0.0, l3: -0.00183786965828371, l4: 0.0, l5: -0.00267437004902575, x1: 0.181099231201942, x2: 0.0, x3: 0.818900768798058, x4: 0.0}
{l1: -0.00220970269110376, l2: -0.000366377844735889, l3: 0.0, l4: 0.0, l5: -0.00203951431709508, x1: 0.0, x2: 0.329348606020634, x3: 0.670651393979366, x4: 0.0}
{l1: -0.00217915139212841, l2: 0.0, l3: 0.0, l4: 0.0, l5: -0.00205194912195356, x1: 0.0833874084208669, x2: 0.309869832390312, x3: 0.606742759188821, x4: 0.0}
{l1: -0.00198140798695065, l2: -0.00167417867634932, l3: 0.0, l4: -0.00158332481050414, l5: 0.0, x1: 0.0, x2: 0.367421113631888, x3: 0.0, x4: 0.632578886368112}
{l1: -0.00184899763274938, l2: 0.0, l3: -0.00123350172186436, l4: -0.00102481978417738, l5: 0.0, x1: 0.349798345175751, x2: 0.0, x3: 0.0, x4: 0.650201654824249}
{l1: -0.00157455365277076, l2: 0.0, l3: 0.0, l4: -0.000811135375290467, l5: 0.0, x1: 0.243017271649322, x2: 0.222491768851213, x3: 0.0, x4: 0.534490959499465}
{l1: -0.00156646720378583, l2: -0.000690073268967285, l3: -0.00107369913126734, l4: 0.0, l5: 0.0, x1: 0.0, x2: 0.0, x3: 0.511228339447877, x4: 0.488771660552123}
{l1: -0.00146561414044126, l2: 0.0, l3: -0.000874211998626457, l4: 0.0, l5: 0.0, x1: 0.146148340879070, x2: 0.0, x3: 0.374098449529701, x4: 0.479753209591230}
{l1: -0.00136067485261850, l2: -0.000428455266258567, l3: 0.0, l4: 0.0, l5: 0.0, x1: 0.0, x2: 0.191666683127909, x3: 0.392044089888608, x4: 0.416289226983483}
{l1: -0.00131885031786962, l2: 0.0, l3: 0.0, l4: 0.0, l5: 0.0, x1: 0.0976170397299732, x2: 0.167881272279761, x3: 0.315241256503671, x4: 0.419260431486595}

In [128]:
#Ищем точки потенциального минимум дисперсии
for i in range(len(solutions)):
  solution_list = list(solutions[i].values())[1:]
  if all(x >= 0 for x in solution_list):
    res = list(solutions[i].values())[1:]
    for j in range(len(res[n:])):
      print('x'+str(j+1), ': ', res[j+n], '; ', sep='', end='')
    print()

x1: 0.0976170397299732; x2: 0.167881272279761; x3: 0.315241256503671; x4: 0.419260431486595;

In [129]:
#Ищем точки потенциального максимума дисперсии
for i in range(len(solutions)):
  solution_list = list(solutions[i].values())[1:]
  if all(x <= 0 for x in solution_list[:n]) and all(x >= 0 for x in solution_list[n:]):
    res = list(solutions[i].values())[1:]
    for j in range(len(res[n:])):
      print('x'+str(j+1), ': ', res[j+n], '; ', sep='', end='')
    print()

x1: 1.00000000000000; x2: 0.0; x3: 0.0; x4: 0.0;
x1: 0.0; x2: 1.00000000000000; x3: 0.0; x4: 0.0;
x1: 0.448503333586500; x2: 0.551496666413500; x3: 0.0; x4: 0.0;
x1: 0.0; x2: 0.0; x3: 0.0; x4: 1.00000000000000;
x1: 0.0; x2: 0.0; x3: 1.00000000000000; x4: 0.0;
x1: 0.181099231201942; x2: 0.0; x3: 0.818900768798058; x4: 0.0;
x1: 0.0; x2: 0.329348606020634; x3: 0.670651393979366; x4: 0.0;
x1: 0.0833874084208669; x2: 0.309869832390312; x3: 0.606742759188821; x4: 0.0;
x1: 0.0; x2: 0.367421113631888; x3: 0.0; x4: 0.632578886368112;
x1: 0.349798345175751; x2: 0.0; x3: 0.0; x4: 0.650201654824249;
x1: 0.243017271649322; x2: 0.222491768851213; x3: 0.0; x4: 0.534490959499465;
x1: 0.0; x2: 0.0; x3: 0.511228339447877; x4: 0.488771660552123;
x1: 0.146148340879070; x2: 0.0; x3: 0.374098449529701; x4: 0.479753209591230;
x1: 0.0; x2: 0.191666683127909; x3: 0.392044089888608; x4: 0.416289226983483;
x1: 0.0976170397299732; x2: 0.167881272279761; x3: 0.315241256503671; x4: 0.419260431486595;